agm-map {
  height: 650px;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 8px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 50px;
}
.sidebar .closebtn {
  position: absolute;
  top: 4px;
  left: -50px;
  padding-left: 12px;
  font-size: 40px;
  margin-left: 50px;
}
.sidebar .closebtn:hover {
  text-decoration: none;
}
img {
  height: 220px;
  width: 220px;
  margin: 0 9%;
}
.left, .right{
  z-index: 9999 !important;
  border-radius: 999px;
}
.row {
  text-align: left;
  margin: 0 auto;
}
