agm-map {
  height: 650px;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 8px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 50px;
}
.sidebar .closebtn {
  position: absolute;
  top: 4px;
  left: -50px;
  padding-left: 12px;
  font-size: 40px;
  margin-left: 50px;
}
.sidebar .closebtn:hover {
  text-decoration: none;
}
img {
  height: 250px;
  width: 100%;
  margin-bottom: -195px;
}
.left, .right{
  cursor: pointer;
  font-weight: bold;
  font-size: 50px;
  border-color: transparent;
  color: white;
  z-index: 9999 !important;
  border-radius: 50%;
}
.left {
  position: relative;
  bottom: -35px;
  left: 12px;
  background-color: transparent;
}
.right{
  position: relative;
  top: -50px;
  left: 350px;
  background-color: transparent;
}
.row, .places {
  text-align: left;
  margin: 0 auto;
}
